:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --c2: #1c242c;
}
* {
  color: white;
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
}
a {
  text-decoration: none;
}
/* Scrollbar Styles */
::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--c3);
}
::-webkit-scrollbar-thumb {
  background-color: var(--c2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--c7);
}

body {
 
  width:100dvw;
  background-color: #1c1c1c;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
}

.card {
  padding: 2em;
}

p,
li {
  text-align: justify;
}
li {
  list-style: none;
  margin: 3px;
}
#logo {
  margin-top: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
}
#headline {
  background-color: rgb(54, 54, 54);
  border-radius: 2px;

  background-image: url("./public/assets/icons/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black;
width:90dvw;
margin:auto auto 30px auto;
}
#headline-message {
  background-color: rgba(0, 0, 0, 0.233);
  border-radius: 4px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
#headline-job-info {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #27272780;
  border-radius: 5px;
  height: 120px;
  width:50%;
  margin:auto;
}
#job-board {
  height: 50dvh;
  overflow-y: scroll;
  width:90dvw;
margin:auto;
}
.posts {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.job-post {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 3px;
  background-color: #191919;
  padding-top: 10px;
  cursor: pointer;
}
.board > h3 {
  background-color: #2e2d2d6c;
  padding: 5px;
  border-radius: 2px;
}
.title {
  text-align: center;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.company-logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 5%;
}
.company-logo > img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  background-color: white;
}

.job-post-private {
  text-align: justify;
  background-color: #303030;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border-top: 10px outset #4fb4f7;
  width: 300px;
  height: 205px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}
.job-post-private > * {
  margin-top: 5px;
}
.job-post-private > hr {
  width: 90%;
  height: 1px;
  border-radius: 6px;
  background-color: #0000008a;
  border: none;
}
.job-post-private > h3 {
  text-align: center;
  border-radius: 10px;
  border: groove #00b7ff67 1px;
  padding: 5px;
}
.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px; /* Adjust the max-width as needed */
  cursor: pointer;
}

.apply {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  font-size: large;
  background-color: #127c32;
}
.source {
  background-color: rgb(0, 60, 255);
}
.other-agencies {
  display: flex;
  flex-flow: column nowrap;
}
.agency-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 8px;
  font-size:15px;
}
.job-field {
  background-color: #ec3838;
  border-radius: 3px;
  text-align: center;
}
.more {
  margin: auto;
  width: 80px;
  height: 30px;
  border-radius: 6px;
  background-color: gold;
  color: black;
}
.location {
  float: right;
  background-color: #0bd164;
  border-radius: 3px;
  text-align: center;
  margin-right: 4px;
}

.start-date {
  background-color: #ff4500;
  border-radius: 3px;
  text-align: center;
}
.expiry-date {
  background-color: #ff4500;
  border-radius: 3px;
  text-align: center;
}
.province {
  float: right;

  background-color: rgb(17, 165, 25);
  border-radius: 3px;
  text-align: center;
}
.job-type {
  background-color: rgb(219, 3, 86);
  border-radius: 3px;
  text-align: center;
}

#pvt-job-board {
  margin: 50px auto auto auto;
  width:90dvw;
}
#pvt-job-board > .board > section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#dialog {
  background-color: #000000e0;
  border: none;
  width: 100%;
  height: 100%;
  margin: 0 auto auto auto;
  backdrop-filter: blur(5px);
  overflow: scroll;
}
#close-dialog {
  background-color: #ff3c00;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}
#info {
  width: 60%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#info > img {
  max-width: 300px;
  max-height: 250px;
  border-radius: 4px;
}
#info > hr {
  width: 80%;
}

#info > .details {
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
  background: rgb(71, 70, 70);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: justify;
}

#documentFrame {
  width: inherit;
  min-height: 700px;
  border: none;
  background-color: inherit;
}
nav {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 50%;
  z-index: 2;
  border-radius: 5px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  display:flex;
  justify-content: center;
  align-items:center;

}

nav li a,
nav li h5 {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

nav li a:hover {
  background-color: #111;
}

nav li ul {
  display: none;
}

#install-app {
  background-color: #04a73b;
  border: none;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  height: 30px;
  width: 80px;
 
}

/* #install-app > img {
  width: 50%;
  height: 50%;
} */
li:has(details) {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
details {
  margin-top: 20px;
  margin-left:15px;
  width: 100px;
  border: none;
  background: #1c1c1c;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  background-color: #0a95b8da;
  width: 80px;
}
.share > img {
  width: 30%;
  height: 50%;
}

.img-icon {
  filter: invert(1);
}

li > a > img {
  height: 50px;
  width: 60px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 199px;
}
#contact {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2d2d6c;
  margin-top: 20px;
  padding: 15px;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
}
#contact > section {
  margin-top: 15px;
}
#contact a {
  margin: 5px;
}

/* tablet screen */
@media screen and (max-width: 729px) {
  nav {
    width: 100%;
  }
  .job-post-private {
    width: 230px;
    padding: 2px;
    height: 230px;
    border-radius: 10%;
  }
  .job-post-private > *:not(hr) {
    margin-top: 3px;
  }
  .job-post-private > hr {
    margin: 0;
  }
  .job-post-private > h3 {
    margin-top: 10px;
    width: 90%;
  }

  #install-app {
    height: 30px;
    width: 60px;
  }
}
@media screen and (max-width: 650px) {
  nav * {
    font-size: 13px;
  }
  li > a > img {
    height: 40px;
    width: 40px;
  }

  #info {
    width: 80%;
  }
  #headline-job-info {
    width:65%;
    
   }
}

@media screen and (max-width: 550px) {
  .job-post-private {
    width: 200px;
    height: 230px;
  }
  .location {
    float: none;
    background-color: #0bd164;
    border-radius: 3px;
    text-align: center;
    margin-right: 0;
  }
  .other-agencies {
    font-size: medium;
  }
  #headline-job-info {
    width:90%;
    font-size:13px;
   }
}

@media screen and (max-width: 490px) {
  .job-post-private {
    width: 160px;
    height: 210px;
  }
  .job-post-private * {
    font-size: small;
  }
  .job-post {
    width: 150px;
    height: 150px;
    font-size: smaller;
  }
}
@media screen and (max-width:478px){
 
  /* #headline{
    width:95dvw;
    padding:0;
    
  }
  #headline-job-info {
   width:100%;
   padding:0;
  }*/
}

@media screen and (max-width: 411px) {
  #headline-job-info {
    width:90%;
    font-size:13px;
   }
  #info {
    width: 90%;
  }
  .job-post-private {
    width: 150px;
    height: 220px;
  }

  .job-field {
    float: inline-end;
    padding: 0;
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
  }
  .f {
    max-width: 319px;
  }
  #headline *:not(h2) {
    font-size: small;
    font-weight: bold;
    text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px black, 0 0 40px black;
  }
}

@media screen and (max-width: 391px) {
  #headline-job-info {
    width:100%;
    font-size:13px;
    padding:0;
   }
   #headline-job-info * {
    text-align:center;

   }
  .job-post-private {
    width: 140px;
  }
  .job-post-private > h3 {
    width: 80%;
  }

  .job-post {
    width: 120px;
    height: 120px;
  }
  .company-logo {
    width: 120px;
    height: 120px;
    overflow: hidden;
  }
}
@media screen and (max-width: 372px) {
  .job-post-private {
    width: 120px;
  }
}

@media screen and (max-width: 331px) {
  #info > img {
    max-width: 250px;
    max-height: 125px;
    border-radius: 4px;
  }
  .job-post-private {
    width: 114px;
  }
  .job-post {
    width: 114px;
    height: 114px;
  }
  .company-logo {
    width: 114px;
    height: 114px;
    overflow: hidden;
  }
}
@media screen and (max-width: 319px) {
  .job-post-private {
    width: 200px;
  }
}
